# Dossiers de compilation
bin/
obj/

# Fichiers de configurations de l'IDE Visual Studio
*.suo
*.user
*.userosscache
*.sln.docstates

# Fichiers de build
*.dll
*.exe

# Autres fichiers et dossiers à ignorer
*.log
packages/
.vs/
